
body {
  background-color: rgb(31, 29, 29);
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.5s;
  width: 200px;
  height: 200px;
  
  
}
.logo:hover {
  transform: scale(1.10);
  transition: 0.5s;
}
